PORT=4000
CORE_API_URL=http://localhost:3000
INTERNAL_API_KEY=visava-internal-secret-token-2024
LOG_LEVEL=debug
VAPI_PUBLIC_KEY=4ad7d6f5-9ecd-46d9-9b6e-91cad18b0bdb
VAPI_PRIVATE_KEY=cf73b21f-baf6-42dd-b7f7-fe46c57291d1
